<div class="container-fluid" style="height: 100vh;">
    <div class="row">
        <div class="col-md-2" id="thumbnail-container" #thumbnailContainer>
        </div>
        <div class="col-md-8">
            <div class="containt-pages">
                <canvas #pdfCanvas></canvas>
                <div class="contain_input" #containInput style="width: 918px;
                    height: 1188px;
                    position: relative;
                    margin: auto;">
                    <canvas #inputCanvas (mousedown)="startDrawing($event)" (mousemove)="drawWhileDragging($event)"
                        (mouseup)="endDrawing($event)"></canvas>
                    <input *ngFor="let i of inputs" type="{{i.type}}" [style.position]="'absolute'" [style.left]="i.x"
                        [style.width]="i.width" [style.top]="i.y" [style.height]="i.height" (click)="onSelectedInput(i)"
                        style="border: none;border-bottom: 1px;background-color: #26255852;" [checked]="i.checked">

                    <!-- [disabled]="true" -->

                </div>
            </div>

            <div class="boton " [ngClass]="{'boton_text': boton_text()}">

                <div class="menu-save" *ngIf="isSave">
                    <select class="form-select labelInout" [(ngModel)]="folderSelected" (change)="cambioDeOpcion()">
                        <option value="-1">Select folder</option>
                        <option *ngFor="let i of folders" [ngValue]="i">{{i.name}}</option>

                    </select>

                    <div class="separator"></div>
                    <div class="newF" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <span>New folder </span> <i class="bi bi-folder-plus"></i>
                    </div>

                </div>
                <div class="icon-menu" *ngIf="!delete&&!isSave" (click)="handleClick()">
                    <i [ngClass]="pdfUrl == null ? 'bi bi-file-earmark-plus' : 'bi bi-download'"></i>
                    <span>{{pdfUrl==null?' New file':' Save '}}</span>
                </div>



                <div class="icon-menu" *ngIf="pdfUrl != null&& !delete" (click)=" confirm()">
                    | <i class="bi bi-trash2-fill delete"></i>
                </div>
                <div class="icon-menu confirm-delete delete" *ngIf="delete">
                    <span>Are you sure you want to delete it?</span> | <i class="bi bi-check-circle-fill"
                        (click)=" resetComponent()"></i> <i class="bi bi-x-circle-fill" (click)="cancel()"></i>
                </div>

            </div>

            <input type="file" #fileInput (change)="onFileSelected($event)" accept=".pdf" style="display: none;" />
        </div>
        <div *ngIf="input" class="col-md-2 color-menu d-flex flex-column align-items-center"
            style="padding-top: 77px;z-index: 900000;">
            <div>
                <input type="text" class="form-control labelInout" [(ngModel)]="label" (ngModelChange)="changeLabel()"
                    placeholder="field name">
            </div>
            <div class="line"></div>
            <div class="text-separator">
                <i class="bi bi-caret-down"></i> <span>
                    Field types
                </span>
            </div>
            <div class="toolbar">


                <button class="btn icon-button" (click)="selectedIn('image')"
                    [ngClass]="{'icon-button-active': input!.type === 'image'}">
                    <i class="bi bi-image"></i>
                </button>

                <button class="btn icon-button" (click)="selectedIn('text')"
                    [ngClass]="{'icon-button-active': input!.type === 'text'}">
                    <i class="bi bi-fonts"></i>
                </button>
                <button class="btn icon-button" (click)="selectedIn('radio')"
                    [ngClass]="{'icon-button-active': input!.type === 'radio'}">
                    <i class="bi bi-ui-radios-grid"></i>
                </button>
                <button class="btn icon-button" (click)="selectedIn('checkbox')"
                    [ngClass]="{'icon-button-active': input!.type === 'checkbox'}">
                    <i class="bi bi-check2-square"></i>
                </button>
            </div>
            <div class="text-separator">
                <i class="bi bi-caret-down"></i> <span>
                    Field properties
                </span>
            </div>
            <div class="row" style="width: 162px;">

                <div class="input-toggle-container">
                    <div class="toggle-indicator">{{med(input!.width)}}</div>
                    <div class="toggle-label"> W</div>
                </div>

                <div class="input-toggle-container">
                    <div class="toggle-indicator">{{med(input!.x)}}</div>
                    <div class="toggle-label"> X</div>
                </div>
                <div class="input-toggle-container">
                    <div class="toggle-indicator">{{med(input!.height)}}</div>
                    <div class="toggle-label"> H</div>
                </div>
                <div class="input-toggle-container">
                    <div class="toggle-indicator">{{med(input!.y)}}</div>
                    <div class="toggle-label"> Y</div>
                </div>
            </div>

            <div class="toolbar2" *ngIf="input!.type === 'checkbox'||input!.type === 'radio'">
                <label for="" class="white">
                    Status :
                </label>
                <Input type="checkbox" [checked]="input.checked" (click)="changeCheck(input)">
            </div>
            <button type="button" (click)="deleteInputById()" class="btn btn-danger text-center">Eliminar</button>


        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="pad-input">
                        <div class="m-input">
                            <input type="text" class="form-control labelInout" [(ngModel)]="folder.name"
                                placeholder="folder name">
                        </div>
                        <div class="m-input">
                            <textarea id="story" class="form-control labelInout" [(ngModel)]="folder.description"
                                rows="5" cols="33" placeholder="folder description">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " data-bs-dismiss="modal" (click)="createFolder()">Save
                        folder</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">

                <div class="modal-body">
                    Do you want to save the file in the folder {{folderSelected?.name}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " data-bs-dismiss="modal" (click)="addMetadataAndSave()
                    ">Save folder</button>
                </div>
            </div>
        </div>
    </div>