body{


    background: #1B1B1B;
}

.color-menu {

    background-color: #242424;
    height: 100vh;
}
.labelInout {
    background-color: #333;
    border: none;
    color: white;
}

.m-input{
    margin-top: 10px;
    }